@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;}

body {
  // font-size: 18px;
  // font-size: clamp(12px, calc(100vw * 18 / 960), 18px);
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 2px;
  height: 100%;
}

:is(.touch-device body) {
  font-size: clamp(12px, calc(100vw * 18 / 960), 18px);
}

/*
@media screen and (max-width: 960px) {
  body {
    font-size: clamp(12px, calc(100vw * 18 / 960), 18px);
  }
}

.touch-device body {
  font-size: 16px;
}
*/

h1, h2 {
  // font-family: 'BIZ UDGothic', sans-serif;
  // font-family: 'Kosugi Maru', sans-serif;
  // line-height: 0.8;
  text-align: center;
  // padding: 0.5em 0.5em;
  margin-bottom: 16px;
}

:is(h1, h2, h3, h4, h5) span {
  white-space: nowrap;
}

th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

picture {
  display: inline-block;
}
/*
section, p, ul, ol, dl {
  margin-bottom: 1em;
}
*/
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

img.full-width {
  width: 100%;
}

ul, ol, li {
  list-style: none;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
}

summary {
  display: block;
  width: fit-content;
}

summary::-webkit-details-marker {
  display: none;
}

[lang="en"] {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: unset;
}


.Container {
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
  // min-height: 100dvh;
  position: relative;
}
/*
.Container::before {
  content: '';
  background-image: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .25;
  z-index: -1;
}
*/
.page_header {
  background-color: #fff;
}

.main, .page_footer {
  background-color: #fff;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}



/* Navigation Block */
:is(.g-nav, .l-nav) {
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 100;
  transform: scale(0.8) translateX(-240px);
  transform-origin: top left;
  transition: all 0.2s 0.15s ease;
}

.g-nav {
  top: 110px;
}

:is(.touch-device .g-nav) {
  top: 20px;
}

.l-nav {
  top: 80px;
}

:is(.page_header .nav.on, .page_footer .nav.on) {
  transform: scale(0.8) translateX(0);
}

:is(.g-nav > ul, .l-nav > ul) {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
  padding-top: 16px;
}

/*
:is(.l-nav > ul > li > a) {
  line-height: 0.8;
  display: block;
  height: 44px;
  padding: 0.2em 0.4em;
}
*/



/* header block */@at-root
.page_header {
  font-size: clamp(12px, calc(100vw * 18 / 960), 18px);
  padding-top: clamp(1px, calc((100vw - 960px) * 8 / 960), 8px);
  height: 100vh;
  height: 100svh;
  overflow: hidden;
  position: relative;
}

.page-title {
  color:rgb(42, 110, 25);
  font-size: clamp(8px, calc(100vw * 16 /960), 11px);
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: clamp(4px, calc(100vw * 16 / 960), 16px);
}

.corp-logo {
  width: clamp(30px, calc(100vw * 80 / 960), 80px);
  height: auto;
  max-height: 2em;
  aspect-ratio: 400 / 143;
  margin-left: clamp(8px, calc(100vw * 16 /960), 16px);  
}

.page-title span {
  white-space: nowrap;
}

.ace-branch-logo {
  width: clamp(120px, calc(100vw * 310 / 960), 310px);
  margin-left: auto;
  margin-right: clamp(8px, calc(100vw * 32 /960), 32px);  
}

/* Header Hero Section */
.page_header-hero {
  background: url(../images/hero_bg.jpg) left top no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100% - 28px);
  // max-height: 100vh;
  // max-height: 100dvh;
  // min-height: 400px;
  // padding: clamp(4px, calc(100vw * 16 / 768), 16px);
  // aspect-ratio: 956 / 458;
  position: relative;
}

@media screen and (max-width: 600px) {
  .page_header-hero {
    background-position: left -120px top 0px;
  }
}

/*
.hero img {
  aspect-ratio: 956 / 458;
  object-fit: contain;
  height: auto;
}
*/

.hazard-type-list {
  font-size: clamp(8px, calc(100vw * 13 / 600), 13px);
  display: flex;
  gap: 4px;
  /*position: absolute;*/
  padding: clamp(4px, calc(100vw * 16 / 768), 16px);

}

:is(.hazard-type-list > li) {
  color: rgb(42, 110, 25);
  line-height: 0.8;
  background-color: #fff;
  padding: 0.4em;
  border-radius: 3px;
}

:is(.hazard-type-list > li > em) {
  font-weight: 600;
  font-style: normal;
}

.catchcopy-holder {
  // background-color: rgba(255, 255, 255, .75);
  width: clamp(124px, calc(100vw * 312 / 960), 312px);
  padding-top: clamp(8px, calc(100vw * 16 / 960), 16px);
  padding-right: clamp(16px, calc(100vw * 32 / 960), 32px);
  padding-bottom: clamp(8px, calc(100vw * 16 / 960), 16px);
  padding-left: clamp(8px, calc(100vw * 16 / 960), 16px);
  position: absolute;
  top: clamp(0px, calc(100vw * 8 / 960), 32px);
  right: 0;
  backdrop-filter: blur(3px);
  aspect-ratio: 192 / 59;
}

.catchcopy {
  width: 100%;
  object-fit: contain;
}

.site-concept {
  color: rgb(0, 110, 255);
  font-size: clamp(18px, calc(100vw * 32 / 960), 32px);
  font-family: 'Noto Serif JP', serif;
  font-weight: 500;
  background-color: #ffffff66;
  place-self: center;
  width: fit-content;
  backdrop-filter: blur(3px);
}

:is(.touch-device .site-concept) {
  margin-top: auto;
  margin-bottom: clamp(8px, calc(100vw * 32 / 960), 32px);;
}

.site-message-holder {
    background-color: hsl(189deg 100% 78%);
    position: relative;
}

.site-message {
  color: #333;
  font-size: clamp(10px, calc(100vw * 16 / 960), 16px);
  font-weight: 300;
  width: fit-content;
  padding: clamp(4px, calc(100vw * 8 / 768), 8px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

:is(.site-message span) {
  white-space: nowrap;
}
/*
.site-message::before {
  content: '';
  background-color: rgb(0, 110, 255);
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
*/

/* page scroll prompt */
.scroll_prompt {
  color: #999;
  font-size: 0.8em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  width: 64px;
  height: 24px;
  padding-right: 4px;
  padding-left: 4px;
  // padding-bottom: 8px;
  position: absolute;
  top: -64px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  backdrop-filter: blur(8px);
  cursor: pointer;
}

:is(.touch-device .scroll_prompt) {
  top: -80px;
}

.scroll_prompt::before {
  content: '';
  color: #fff;
  line-height: 0.8;
  display: block;
  width: 64px;
  height: 24px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 8px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  border-bottom: solid 2px rgba(255, 255, 255, 0.25);
}

.scroll_prompt::after {
  content: '';
  display: block;
  width: 64px;
  height: 24px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 8px;
  border-bottom: solid 2px rgb(141, 141, 141);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  animation: scroll_prompt ease-in-out 1.6s infinite;
}

@keyframes scroll_prompt {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }

}



/***************************************************
/*
/* Miscellaneous
/* 
/**************************************************/

/***************************************************
*
* Navigation Button
*
/***************************************************/
.button{
  display: block ;
  position : relative ;
  width : 240px ;
  height : 60px ;
  background: rgb(153,191,187);
  background: radial-gradient( rgba(93,108,107,.3) 0%, rgba(95,162,158,0) 90%);
  box-shadow : 0 0 24px rgba(116,132,145,1) ;
  transition : all .7s ease ;
  cursor: pointer;
}

.button::before{
  content : '' ;
  position : absolute ;
  z-index : 2 ;
  top : -4px ;
  left : 0 ;
  width : 160px ;
  height : 10px ;
  border-radius : 50% ;
  background: rgb(170,255,240);
  background: radial-gradient( rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 100%);
}

.button::after{
  content : '' ;
  position : absolute ;
  z-index : 2 ;
  bottom : -4px ;
  right : 0 ;
  width : 160px ;
  height : 10px ;
  border-radius : 50% ;
  background: rgb(170,255,240);
  background: radial-gradient( rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 100%);
}

.button__wrapper{
  width : 100% ;
  height :100% ;
  clip-path: polygon(0% 0%, 0 100%, 0.7% 100%, 0.7% 3%, 99.3% 3%, 99.3% 98%, 0% 98%, 0% 100%, 100% 100%, 100% 0%);
  background-color:hsla(0,0%,100%,1);
  background-image:
  radial-gradient(at 0% 0%, hsla(180,100%,98%,1) 0px, transparent 50%),
  radial-gradient(at 29% 0%, hsla(189,100%,78%,1) 0px, transparent 50%),
  radial-gradient(at 0% 48%, hsla(355,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 100% 62%, hsla(340,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 90% 98%, hsla(169,88%,83%,1) 0px, transparent 50%),
  radial-gradient(at 26% 100%, hsla(240,0%,44%,1) 0px, transparent 50%),
  radial-gradient(at 79% 0%, hsla(336,0%,51%,1) 0px, transparent 50%);
}

.button__box{
  display : flex ;
  justify-content : center ;
  align-items : center ;
  position : absolute ;
  z-index : 1 ;
  top : 3% ;
  left : 0.8% ;
  width : 98.4% ;
  height : 94% ;
  color : rgba(255, 255, 255);
  font-weight: 500;
  letter-spacing : 2px ;
  background: rgb(255,255,255);
  background: linear-gradient(120deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 50%);
  transition : all 1s ease ;
  backdrop-filter: blur(5px);
}

:is(.touch-device .button__box) {
  font-size: 1.1em;
  font-weight: 700;
}

.button__box::before{
  content : '' ;
  position : absolute ;
  z-index : -1 ;
  top : 0 ;
  left : 0 ;
  width : 100% ;
  height : 100% ;
  background : linear-gradient( 120deg , rgba(255,255,255,.4),rgba(255,255,255,0)) ;
  clip-path : path('M215.98,12.57c8.09,0,16.1,.12,24.02,.33V0H0V44.89C53.01,25.06,130.12,12.57,215.98,12.57Z');
}
.button--round{
  border-radius : 30px ;
}
.button--round .button__wrapper{
  clip-path: path('M210,1c15.99,0,29,13.01,29,29s-13.01,29-29,29H30C14.01,59,1,45.99,1,30S14.01,1,30,1H210m0-1H30C13.43,0,0,13.43,0,30s13.43,30,30,30H210c16.57,0,30-13.43,30-30S226.57,0,210,0h0Z');
}
.button--round .button__box{
  border-radius : 30px ;
  overflow : hidden ;
}
.button:hover{
  box-shadow : 0 0 24px rgba(116,132,145,0) ;
}
.button:hover .button__box{
  letter-spacing : 8px ;
  color : rgba(255,255,255,1) ;
}

.wake-menu {
  font-size: 1.2em;
  position:absolute;
  appearance: none;
  outline: unset;
  border: solid 1px #fff;
  transform: rotate(-90deg) translateX(-50%) scale(0.8);
  transform-origin: top left;
  top: 50%;
  left: 0;
  z-index: 100;
}

.wake-menu.on {
  top: 374px;
  transform: rotate(0) scale(0.8);
}

:is(.page_header .wake-menu.on) {
  top: 374px;
}

:is(.page_footer .wake-menu) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

:is(.touch-device .page_header .wake-menu.on) {
  top: 264px;
}

:is(.page_footer .wake-menu.on) {
  top: 346px;
}

:is(.wake-menu.on .button__box)::after {
  content: 'Close';
  color: #666;
  background-color: #fff;
  font-size: 1em;
  font-weight: bold;
  display: block;
  padding: 0.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.25em;

}



