@charset "UTF-8";

/*-------------------------------------------------- */
/*
/* TOP-PAGE Main Block Definition
/*
/*-------------------------------------------------- */

:is(.main dd) {
  padding-left: 1em;
  margin-bottom: 0.5em;
}

:is(.main li::before) {
  content: '・';
  padding-right: 0.25em;
}

.staff-message-holder {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto; 
  aspect-ratio: 597 / 448;
  position: relative;
  overflow: hidden;
  border: solid 1px hsl(173, 23%, 55%);
}

.staff-message-holder::before {
  content: '';
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.staff-photo-holder {
  width: 100%;
  max-width: 100vw;
}

.staff-photo {
  width: 100%;
}

:is(.top-section > .staff-message) {
  padding: 1em;
}

.staff-message-wrapper {
  color: #333;
  font-weight: bold;
  padding: 5em 4em 3em;
  position: absolute;
  top: 64px;
  left: 64px;
  border: solid 1px #666;
  border-radius: 50%;
}

.staff-message-wrapper::before {
  content: '';
  background-color: rgba(255, 255, 255, .75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  backdrop-filter: blur(6px);
  z-index: -1;
}

/*
.staff-message-bg {
  width: 100%;
  height: 100%;
  margin: 5% 0 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  z-index: -1;
}
*/

.staff-message {
  // font-size: clamp(10px, calc(100vw * 0.8 * 16 / 960), 0.8em);
  font-size: clamp(10px, calc(100vw * 16 / 960), 1em);
  letter-spacing: 4px;
  line-height: 2;
  height: auto;
  padding: 0;
  margin: 0;
  writing-mode: vertical-rl;
}

:is(.staff-message .text-combine) {
  text-orientation: upright;
}


:is(.staff-message span) {
  white-space: nowrap;
}


@media screen and (max-width: 960px) {
  :is(.Index .staff-message-wrapper) {
    padding: clamp(8px, calc(100vw * 16 * 0.8 / 960), 1em);
    top: unset;
    bottom: clamp(8px, calc(100vw * 16 / 960), 16px);
    left: clamp(8px, calc(100vw * 16 / 960), 16px);
    border-radius: clamp(8px, calc(100vw * 16 / 960), 16px);
  }
  
  .staff-message-wrapper::before {
    border-radius: clamp(8px, calc(100vw * 16 / 960), 16px);
  }

  .staff-message {
    letter-spacing: unset;
    writing-mode: unset;
  }
  
  :is(.staff-message .text-combine) {
    text-orientation: unset;
  }
}

/*
@media screen and (max-width: 600px) {
  .staff-message-wrapper {
    line-height: 1;
    width: 320px;
    transform: scale(0.75);
    transform-origin: top left;
  }

  .staff-message {
    // font-size: 6px;
    line-height: 1;
  }
}
*/


/* 事業所紹介セクション*/
:is(.top-section-title span) {
  color: #fff;
  display: block;
  // background-color:#81D8D0;
  background-color:hsl(173, 33%, 51%);
  width: fit-content;
  padding: 0 1em;
  margin: 0 auto;
  border-radius: 1em;
}

/*
:is(.top-section-title span) {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

:is(.top-section-title span)::before,
:is(.top-section-title span)::after {
	content: '';
	width: clamp(40px, calc(100vw * 70 /960), 70px);
	height: 2px;
	background-color: #e3bf00;
}

:is(.top-section-title span)::before {
	margin-right: 20px;
}

:is(.top-section-title span)::after {
	margin-left: 20px;
}
*/

:is(.intro-title span:first-of-type) {
  color: hsl(173deg, 33%, 51%);
  font-size: 0.6em;
  line-height: 1.2;
  background-color: transparent;
}

/*
:is(.intro-title span:first-of-type)::before,
:is(.intro-title span:first-of-type)::after {
  content: none;
}
*/

.intro-staff-message-holder::before {
  background-image: url(../images/staff-photo01.png);
}

.whats-ace-title {
  font-size: clamp(14px, calc(100vw * 32 / 960), 32px);
  width: fit-content;
  margin: 0 auto;
}

.whats-ace-title-image {
  width: clamp(36px, calc(100vw * 64 / 960), 64px);
  padding: 8px;
  // margin-bottom: -16px
}

.whats-ace-staff-message {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  // gap: clamp(0.5em, calc(100vw * 0.8 * 16 / 960),1em);
  gap: 2em;
}

:is(.whats-ace-staff-message p:last-of-type) {
  grid-row: 2 / 3;
  grid-column: 1 / 3;}

:is(.ace-concept-image-holder) {
  display: block;
  width: fit-content;
  margin: 16px auto 32px;
}

@media screen and (max-width: 640px) {
  :is(.whats-ace-staff-message) {
    display: block;
  }

  :is(.whats-ace-staff-message > p:not(:last-of-type)) {
    margin-bottom: 1em;
  }
}


/* カリキュラム */
.curriculumn-staff-message-holder::before {
  background-image: url(../images/staff-photo03.png);
}

@media screen and (max-width: 640px) {
  :is(.Index .curriculumn .staff-message-wrapper) {
    top: clamp(8px, calc(100vw * 16 / 960), 16px);
    bottom: unset;
  }
}

.curriculumn-time-table {
  color: #fff;
  font-size: 1.2em;
  background-color:hsl(190deg 44% 55%);
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-radius: 16px;
}

.curriculumn-time-table dd {
  margin-bottom: 0;
}

.curriculumn-weekly-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

:is(.curriculumn-weekly-table tbody) {
  display: contents;
}

:is(.curriculumn-weekly-table tr) {
  background-color: hsl(190deg 44% 73%);
  // width: fit-content;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px 2px rgba(126, 126, 126, .2);
}

:is(.curriculumn-weekly-table th, .curriculumn-weekly-table td) {
  display: block;
}

:is(.curriculumn-weekly-table th) {
  color: hsl(106, 69%, 20%);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  // border-bottom: solid 2px #fff;
}

:is(.curriculumn-weekly-table ul) {
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 6px;
}

:is(.curriculumn-weekly-table li) {
  text-indent: -.75em;
  padding-left: 1em;
}

:is(.curriculumn-weekly-table li)::before {
  content: '・';
  // padding-right: 0.2em;
}

:is(.curriculumn-weekly-table + p) {
  width: fit-content;
  margin: 0.5em auto 0;
}


/* ACEの一日のスケジュール */
.activities-staff-message-holder::before {
  background-image: url(../images/staff-photo02.png);
}

@media screen and (max-width: 640px) {
  :is(.Index .activities .staff-message-wrapper) {
    top: clamp(8px, calc(100vw * 16 / 960), 16px);
    bottom: unset;
  }
}

.activities-time-table-graph-holder {
  display: grid;
  justify-items: center;
  width: 100%;
  margin-bottom: 32px;
  overflow-x: auto;
}

:is(.activities-time-table-graph-holder img) {
  width: 100%;
}

:is(.touch-device .activities-time-table-graph-holder img) {
  width: 547px;
  max-width: unset;
  height: unset;
}

.activities-suchedule-timetable {
  color: hsl(219, 100%, 0%);
  background-color: hsl(60, 29%, 90%);
  display: block;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
.activities-suchedule-timetable tr {
  // display: contents;
  display:block;
  margin-bottom: 1em;
}

:is(.activities-suchedule-timetable th) {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  background-color: #fff;
  display: block;
  width: 16em;
  padding: 0.25em 0.25em;
  margin-bottom: 0.5em;
  border-radius: 1em;
}

:is(.activities-suchedule-timetable td) {
  display: block;
  gap: clamp(8px,  calc(100vw * 16 / 960), 16px);
  margin-bottom: 1em;
  position: relative;
}

:is(.activities-suchedule-timetable td .comment) {
  display: block;
  margin-bottom: 1em;
}
/*
:is(.activities-suchedule-timetable tr:not(:last-of-type) td) {
  display: flex;
  flex-wrap: wrap;
}
*/
:is(.activities-suchedule-timetable dt) {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  background-color: #fff;
  width: fit-content;
  padding: 0 1em;
  margin-bottom: 0.25em;
  border-radius: 16px;
}

:is(.activities-suchedule-timetable dd) {
  margin-bottom: 1em;
}

:is(.activities-suchedule-timetable .timetable span:first-of-type) {
  min-width: 200px;
}

// :is(.activities-suchedule-timetable .timetable img) {
//   max-width: clamp(120px, calc(100vw * 0.9 * 240 / 960 ), 240px);
// }

:is(.activities-suchedule-timetable .timetable10to11 img) {
  max-height: 180px;
}

:is(.activities-suchedule-timetable .timetable11to12 td:nth-of-type(2) img) {
  max-width: clamp(200px, calc(100vw * 0.9 * 240 / 960 ), 240px);
}

:is(.activities-suchedule-timetable .timetable12to13 .image-holder) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px,1fr));
}

:is(.activities-suchedule-timetable .timetable12to13 .bento-mv) {
  width: auto;
  height: 320px;
  max-height: 90vh;
  aspect-ratio: 1080 / 1920;
}

:is(.activities-suchedule-timetable .timetable13to18 .training img:first-of-type) {
  transform: scale(0.8);
  transform-origin: top center;
}

:is(.activities-suchedule-timetable .zoom span) {
  display: block;
  position: relative;
}

:is(.activities-suchedule-timetable .zoom span:nth-of-type(2))::after {
  content: '';
  background: url(../images/zoom.png) no-repeat center center;
  background-size: cover;
  display: block;
  width: clamp(24px, calc(100vw * 48 / 960), 48px);
  height: clamp(24px, calc(100vw * 48 / 960), 48px);
  aspect-ratio: 140 / 139;
  position: absolute;
  top: 16px;
  left: 8px;
  z-index: 300;
}

iframe {
  width: 100%;
  aspect-ratio: 1080 / 1920;
  height: auto;
}

:is(.touch-device .bento-mv) {
  max-height: 100vh
} 

:is(.activities .mendan .image-holder),
:is(.activities .recruit .image-holder),
:is(.activities .training .image-holder),
:is(.activities .symposium .image-holder) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
}

:is(.activities .recruit .image-holder img) {
  width: 100%;
}


/* 利用者の声 */
.users-voice-exsamples {
  color: #fff;
  background-color:hsl(173, 23%, 40%);
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 16px;
}

.users-voice-exsamples:nth-of-type(2n) {
  margin-left: auto;
}

.users-voice-exsamples:not(:last-of-type) {
  margin-bottom: 1em;
}

:is(.users-voice-exsamples summary) {
  font-size: 1.1em;
  font-weight: bold;
  width: fit-content;
  padding: 0 0.25em;
  margin-bottom: 0.5em;
  border-bottom: solid 1px #fff;
}



/* 施設紹介 */
.facilities-photo-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 16px;
  padding: 1em;
  margin-bottom: 16px;
}


:is(.facilities-photo-wrapper > figure) {
  position: relative;
  border-radius: 1em;
  overflow: hidden;
}

:is(.facilities-photo-wrapper > figure > figcaption) {
  color: #000;
  font-size: 0.6em;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.25em 0.5em;
  position: absolute;
  top: 16px;
  left: 16px;
  backdrop-filter: blur(12px);
}

@media screen and (max-width: 720px){
  :is(.facilities-photo-wrapper > figure > figcaption) {
    position: unset;
  }
}

:is(.facilities-photo-wrapper > figure:first-of-type) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 640px) {
  .facilities-photo-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: unset;
  }

  :is(.facilities-photo-wrapper > figure:first-of-type) {
    grid-column-start: unset;
    grid-column-end: unset;
    grid-row-start: unset;
    grid-row-end: unset;
  }
}

:is(.facilities .message-for-you-wrapper) {
  padding: 1em;
}

:is(.facilities .message-for-you) {
  background-color:hsl(40, 100%, 86%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 32px;
  padding: 16px;
  border-radius: 1em;
}

@media screen and (max-width: 640px) {
  :is(.facilities .message-for-you) {
    grid: none;
  }
}



/* よくあるご質問 */
:is(.Index .faq details) {
  background-color: hsl(173, 23%, 40%);
  padding: clamp(8px, calc(100vw * 16 / 960), 1em);
  margin-bottom: 1em;
  border-radius: 1em;
}

@media screen and (max-width: 480px) {
  :is(.Index .faq details) {
    font-size: 0.8em;
  }
}

:is(.Index .faq details summary) {
  font-size: 1.2em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: clamp(8px, calc(100vw * 16 / 960), 16px);
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: .5em;
}

@media screen and (max-width: 640px) {
  :is(.Index .faq details summary) {
    font-size: 1em;
  }
}

:is(.Index .faq details summary img) {
  width: clamp(48px, calc(100vw * 64 / 960), 64px);
  aspect-ratio: 256 /431;
}

:is(.Index .faq details summary span) {
  background-color: #fff;
  display: grid;
  align-items: center;
  height: fit-content;
  padding: .5em;
  border-radius: 0.5em;
}

:is(.Index .faq details .details-description-holder) {
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: clamp(8px, calc(100vw * 16 / 960), 16px);
  align-items: center;
  min-height: 6.5em;
}

:is(.Index .faq details .details-description-holder img) {
  width: clamp(48px, calc(100vw * 64 / 960), 64px);
  aspect-ratio: 242 / 454;
}


/* 見学・体験 */
:is(.kengaku > section) {
  margin: 0;
}

:is(.touch-device .kengaku >section) {
  font-size: 1.1em;
}

:is(.kengaku > section h3) {
  line-height: 1;
  padding-left: 0.25em;
  margin-bottom: 0.5em;
  border-left: solid .5em hsl(173deg, 33%, 51%);
}

:is(.kengaku > section h3 ~ *) {
  padding-left: 1em;
  margin: 0;
}

:is(.kengaku summary) {
  // font-size: 1.1em;
  font-weight: bold;
  width: fit-content;
  padding: 0 0.25em;
  margin-bottom: 0.5em;
  border-bottom: solid 1px #fff;
}


:is(.kengaku .contact .contact-details-holder) {
  color: #fff;
  background-color: #649cc9;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
  grid-template-columns: auto 1fr;
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  gap: 2em;
  padding: 0.5em 1em;
  border-radius: 1em;
  position: relative;
}

:is(.kengaku .contact .contact-details-holder .tel-number) {
  color: #666;
  font-size: clamp(1.2em, calc(100vw * 32 / 960), 32px);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  background-color: #fff;
  padding: 0 0.5em;
  border-radius: 8px;
}

@media screen and (max-width: 640px) {
  :is(.kengaku .contact .contact-details-holder) {
    grid: none;
    gap: 1em;
  }  
}

:is(.kengaku .contact .contact-details-holder > details) {
  width: fit-content;
  min-width: 180px;
}

:is(.kengaku .contact .ace-line-qr) {
  text-align: center;
  // width: clamp(32px, calc(100vw * 64 / 960), 64px);
  // height: clamp(32px, calc(100vw * 64 / 960), 64px);
  position: absolute;
  // top: clamp(8px, calc(100vw * 16 / 960), 16px);
  top: -32px;
  right: clamp(8px, calc(100vw * 16 / 960), 16px);
  transform: scale(1.5);
  transform-origin: right bottom;
}

@media screen and (max-width: 640px) {
  :is(.kengaku .contact .ace-line-qr) {
    position: unset;
    transform: unset;
    transform-origin: unset;
  }

  :is(.kengaku .contact .ace-line-qr figure) {
    width: 30%;
    margin: 0 auto;
  }

  :is(.kengaku .contact .ace-line-qr img) {
    width: 100%;
  }
}

:is(.kengaku .contact .ace-line-qr figcaption) {
  color: #fff;
  font-size: 0.6em;
  text-align: center;
}

:is(.kengaku .announce .contents) {
  color: #fff;
  background-color: #649cc9;
  display: flex;
  padding: 0.5em 1em;
  margin: 0 auto;
  border-radius: 1em;
}

:is(.kengaku .announce .contents > p) {
  flex: 1;
} 

:is(.kengaku .announce .contents > p span) {
  text-indent: -1em;
  display: block;
  width: fit-content;
  padding: 0 0.25em;
  margin: 0 auto;
}

:is(.kengaku .announce .contents picture) {
  background-color: #fff;
  display: block;
  width: 20%;
  aspect-ratio: 9 / 12;
  padding: 9px;
  margin-right: 64px;
  border-radius: 50%;
  transform: scale(1.5);
  border: solid 2px #649cc9;
}

:is(.kengaku .announce .contents picture img) {
  transform: scale(1.0);
}

@media screen and (max-width: 640px) {
  :is(.kengaku .announce .contents picture img) {
    transform: scale(1.2);
  }

  :is(.kengaku .announce .contents picture) {
    margin-right: clamp(8px, calc(100vw * 0.3 * 64 / 960), 64px);
  }
}

:is(.kengaku .experience-schedule) {
  color: #fff;
  background-color: #649cc9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  padding: 0.5em 1em;
  border-radius: 1em;
}

:is(.kengaku .experience-schedule .whiteboard02) {
  display:block;
  width:100%;
  height:auto;
  position:relative;
  aspect-ratio:998 / 656;
}


:is(.kengaku .experience-schedule .whiteboard02 img) {
  display: block;
}

:is(.kengaku .experience-schedule .whiteboard02 img:first-of-type) {
  width:100%;
  height:auto;
  aspect-ratio:998/656;
}

:is(.kengaku .experience-schedule .whiteboard02 img:last-of-type) {
  width: 40%;
  position: absolute;
  top: 32px;
  left: 64px;
  aspect-ratio: 704/508;
  transform: rotate(-15deg);
}

@media screen and (max-width: 640px) {
  :is(.kengaku .experience-schedule .whiteboard02 img:last-of-type) {
    top: clamp(16px, calc(100vw * 32 /640), 32px);
    left: clamp(42px, calc(100vw * 64 /640), 64px);
  }
}

:is(.kengaku .experience-schedule + p) {
  width: fit-content;
  margin: 16px auto 0;
}

:is(.kengaku .experience-schedule-exception) {
  color: #f00;
  background-color: #fff;
  padding-left: 1em;
  margin-top: clamp(8px, calc(100vw * 16 / 960), 16px);
  border-radius: clamp(8px, calc(100vw * 16 / 960), 16px);
}


:is(.kengaku .reception-time) {
  color: #fff;
  background-color: #649cc9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  gap: 1em 2em;
  padding: 0.5em 1em;
  border-radius: 1em;
}

:is(.kengaku .reception-time > details) {
  min-width: 160px;
}

:is(.kengaku .reception-time > details summary) {
  background-color: #fff;
  width: 100%;
  padding: 0 0.5em;
  border-radius: 0.8em;
}

:is(.kengaku .reception-time > details:first-of-type summary) {
  color: hsl(106, 69%, 20%);
}

:is(.kengaku .reception-time > details:nth-of-type(2) summary) {
  color: hsl(236, 100%, 50%);
}

:is(.kengaku .reception-time > details:nth-of-type(3) summary) {
  color: hsl(0, 100%, 41%);
}

:is(.kengaku .reception-time > details img) {
  display: block;
  width: 50%;
  margin: 0 auto;
  transform: scale(0.8);
}

:is(.kengaku .sub-section.hr-dots) {
  margin: 0;
  transform: scale(0.3);
}


/* SNS */
.sns-holder {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  grid-template-rows: auto;
  justify-content: center;
  gap: 2em;
}

:is(.sns-holder > details) {
  background-color: #649cc9;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  // width: fit-content;
  // width: 240px;
  padding: 16px;
  margin: 0 16px;
  border-radius: 16px;
  position: relative;
}

:is(.sns-holder > details summary) {
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin: 0 auto 0.5em;
  border-bottom: solid 2px hsl(173, 23%, 55%);
}

:is(.sns-holder > details .details-description) {
  text-align: center;
  display: grid;
  min-height: 120px;
}

:is(.sns-holder > details .details-description a) {
  display: block;
  padding: 0;
  margin: auto auto 0;
}

:is(.sns-holder .qr-code) {
  // width: clamp(80px, calc(100vw * 120 / 960), 120px);
  width: clamp(64px, calc(100vw * 64 / 960), 64px);
  aspect-ratio: 1 /1;
}

:is(.sns .sns-title),
:is(.sns .channel-name) {
  color: #fff;
  // font-size: 1.5em;
  font-family: 'Noto Sans JP', sans-serif;
  // font-weight: 700;
}

:is(.sns-holder .sns-logo) {
  display: block;
  width: 32px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

:is(.sns-holder .sns-logo)::before {
  content: '';
  background-color: #fff;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(1.25);
}

:is(.sns-holder .twitter .sns-logo)::before {
  aspect-ratio: 248 / 204;
  border-radius: 50%;
  transform: rotate(-38deg);
}

:is(.sns-holder .line .sns-logo)::before {
  aspect-ratio: 320 / 320;
  border-radius: 12px;

}

:is(.sns-holder .youtube .sns-logo)::before {
  aspect-ratio: 1576 / 346;
  border-radius: 8px;

}

.sns-capture {
  width: auto;
  height: 120px;
  aspect-ratio: 148 / 320;
}

.sns-comment {
  background-color: #fff;
  padding: 0.5em;
  margin-top: 1em;
  border-radius: 0.5em;
}


/* 事業所案内 */
.ace-general-info-table {
  width: fit-content;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .ace-general-info-table {
    font-size: .8em;
    letter-spacing: 1px;
  }
}

:is(.ace-general-info-table th, .ace-general-info-table td) {
  padding: 0.5em;
  border-bottom: solid 1px hsl(173, 23%, 40%);
}

/* アクセス */
:is(.access .location),
:is(.access h3) {
  width: fit-content;
}

:is(.access .location) {
  padding: 1em;
  margin: 0 auto;
}


:is(.access .location),
:is(.access h3) {
  width: fit-content;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  position: relative;
  transition: all .3s ease-out 1.5s;
}

:is(.access.active .location),
:is(.access.active h3) {
  color: #fff;
  background-color: #649cc9;
  padding: .5em;
}

:is(.access .location)::before,
:is(.access h3 span)::before {
  content: '';
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: solid 2px #649cc9;
  border-left: solid 2px #649cc9;
  z-index: -1;
  transform: scale(0);
  transform-origin: bottom left;
  transition: all 1s ease-in-out 0.5s;
}

:is(.access .location)::after,
:is(.access h3 span)::after {
  content: '';
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: solid 2px #649cc9;
  border-right: solid 2px #649cc9;
  z-index: -2;
  transform: scale(0);
  transform-origin: top right;
  transition: all 1s ease-in-out .5s;
}


:is(.access.active .location)::before,
:is(.access.active h3 span)::before {
  transform: scale(1);
}

:is(.access.active .location)::after,
:is(.access.active h3 span)::after {
  transform: scale(1);
}

:is(.access details:not(:last-of-type)) {
  margin-bottom: 1em;
}

:is(.access details summary) {
  color: hsl(22, 79%, 38%);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}

:is(.access details summary)::before {
  content: '・';
  font-weight: 900;
}

:is(.access details .desc) {
  padding-left: 1em;
}

/* アクセルマップ */
:is(.access-map-holder) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1em;
}

:is(.access-map-holder iframe) {
  width: 100%;
  height: auto;
  aspect-ratio: 1920 / 1080;
}



/***************************************************
*
* Loading
*
 **************************************************/
 /* Loading */
#loading {
  background-color: #f9c2eb;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  transition: all 1s;
  opacity: 1;
}

:is(#loading){
  background: linear-gradient(-45deg, #f9c2eb, #a8c2ee, #c2f9d0, #ffdea5) fixed;
  background-size: 800% 800%;
  animation: GradietionAnimation 9s ease infinite;
}

@keyframes GradietionAnimation { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#loading.fadeout {
  opacity: 0;
}

#loading.remove {
  opacity: 0;
}

/***************************************************
/* Loading Text Message
/****************************************************/
.l-wrapper {
  text-align: center;
  padding: clamp(8px, calc(100vw * 50 / 960), 50px);
  transition: all 0.5s;
}

.c-text {
  // color:rgb(42, 110, 25);
  // color: hsl(106, 69%, 20%);
  color: hsl(0, 100%, 100%);
  font-size: clamp(16px, calc(100vw * 64 / 960), 64px);
  line-height: 1.4;
  span {
    letter-spacing: 0.2em;
    display: inline-block;
    opacity: 0;
    @for $i from 1 through 30 {
      &:nth-child(#{$i}) {
        animation: text 1s cubic-bezier(0.3, 0.72, 0.56, 0.99) #{$i * 0.1}s forwards;
      }
    }
    text-shadow: 1px 1px hsl(106, 69%, 20%);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(-20px) translateY(-10px) scale(1.3);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

#loading_message01 {
  opacity: 1;
  transition: all 1s;
}

#loading_message01.fadeout {
  opacity: 0;
}



/***************************************************
/* SVG Animation
 **************************************************/
/* Heartfull */
#anim_heartfull {
  display: block;
  width: fit-content;
  margin: auto;
}

#anim_heartfull .svg-elem-1 {
  stroke-dashoffset: 1285.1929931640625px;
  stroke-dasharray: 1285.1929931640625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

#anim_heartfull.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-2 {
  stroke-dashoffset: 328.0028076171875px;
  stroke-dasharray: 328.0028076171875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

#anim_heartfull.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-3 {
  stroke-dashoffset: 406.1172180175781px;
  stroke-dasharray: 406.1172180175781px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

#anim_heartfull.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-4 {
  stroke-dashoffset: 332.68572998046875px;
  stroke-dasharray: 332.68572998046875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

#anim_heartfull.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-5 {
  stroke-dashoffset: 361.7761535644531px;
  stroke-dasharray: 361.7761535644531px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

#anim_heartfull.active .svg-elem-5 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-6 {
  stroke-dashoffset: 1180.7425537109375px;
  stroke-dasharray: 1180.7425537109375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

#anim_heartfull.active .svg-elem-6 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-7 {
  stroke-dashoffset: 449.8775634765625px;
  stroke-dasharray: 449.8775634765625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

#anim_heartfull.active .svg-elem-7 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-8 {
  stroke-dashoffset: 1079.7603759765625px;
  stroke-dasharray: 1079.7603759765625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

#anim_heartfull.active .svg-elem-8 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

/* ACE */
 #anim_ace {
  display: block;
  width: fit-content;
  margin: auto;
}
#anim_ace .svg-elem-1 {
  stroke-dashoffset: 1170.498046875px;
  stroke-dasharray: 1170.498046875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

#anim_ace.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_ace .svg-elem-2 {
  stroke-dashoffset: 294.8476257324219px;
  stroke-dasharray: 294.8476257324219px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

#anim_ace.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_ace .svg-elem-3 {
  stroke-dashoffset: 344.737060546875px;
  stroke-dasharray: 344.737060546875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

#anim_ace.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}




/* ACE YouTube
------------------------- */
#ace_movies {
  width: 100%;
  margin: 32px auto;
}

#ace_movies .mv-heading {
	font-size: 26px;
  padding-top: 30px;
  padding-left: .5em;
	border-bottom: 2px solid rgb(62, 70, 177);
	position: relative;
}

#ace_movies .mv-heading span {
  font-family: 'Kosugi Maru', sans-serif;
  line-height: 1;
	position: relative;
	z-index: 2;
}

#ace_movies .mv-heading::before {
	color: rgba(5,62,98,0.2);
  font-family: 'Kosugi Maru', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	content: attr(data-en);
	position: absolute;
	top: 10px;
	left: 0;
	z-index: 1;
}

#ace_movies .modal-wrap {
  margin: 0 auto;
}

#ace_movies .playList-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(calc(240px - 1rem - 1rem),1fr));
  grid-gap: .5em;
  transform-origin: top left;
}

#ace_movies .playStart .playList-wrap {
  transform: scale(0);
}

#ace_movies .playList {
  background: #fff url(../images/youtube-logo.svg) no-repeat center right 6% / 10%;
  display: flex;
  height: auto;
  min-height: 4em;
  padding: 0.5em;
  border: 4px solid #c21500;
  border-image: linear-gradient(to top right, #c21500 0%, #ffc500 100%);
  border-image-slice: 1;
  border-radius: 0.4em;
  cursor: pointer;
}

#ace_movies .playList span {
  text-align: center;
  line-height: 1;
  margin: auto;
}

#ace_movies .movie-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(000, 000, 000, 0.95);
  pointer-events: none;
  transition: all 1s;
  z-index: 300;
}
#ace_movies .movie-modal.active {
  opacity: 1;
  pointer-events: all;
}

#ace_movies .modal-box {
  position: relative;
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}

#ace_movies .modal-inner {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(0, -50%);
}

#ace_movies .movie {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

#ace_movies .movie iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#ace_movies #close {
  color: #999;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  background-color: #fff;
  padding: 8px;
  position: absolute;
  top: -42px;
  left: 8px;
  z-index: 100;
  cursor: pointer;
  border-radius: 50%;
}

#ace_movies #overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width:640px){
  #ace_movies .wrap {
    width: 100%;
  }
}

