@charset "UTF-8";
/*****************************************************************
/*
/* Main Block
/*
******************************************************************/
:is(.main section) {
  padding: 16px;
}

:is(.main dd) {
  padding-left: 1em;
  margin-bottom: 0.5em;
}

:is(.main li::before) {
  content: "・";
  padding-right: 0.25em;
}

:is(.main .top-section) {
  padding: 0;
  margin-bottom: 32px;
  position: relative;
}

:is(.main .top-section section) {
  padding: 16px;
}

/*
.top-section::after {
  content: '';
  display: block;
  width: 100%;
  height: auto;
  border-bottom: double 3px #999;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}
*/
:is(.main .top-section-title) {
  font-size: clamp(20px, 3.3333333333vw, 32px);
}

:is(.main .top-section) {
  padding-top: 5em;
}

.hr-dots {
  border: 0;
  height: 2em;
  padding: 0;
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr-dots::before {
  content: url(../images/hr.svg);
  aspect-ratio: 300/45;
  width: 100px;
  color: hsl(173deg, 33%, 51%);
  line-height: 0;
}

:is(.touch-device .hr-dots)::before {
  transform: scale(0.8);
}

/*****************************************************************
/*
/* Footer Block
/*
******************************************************************/
.page_footer {
  display: grid;
  grid-template-columns: 48px 2fr 1fr;
  grid-template-rows: auto auto 2em;
  min-height: 480px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .page_footer {
    grid-template-columns: 48px 1fr;
    grid-template-rows: auto auto auto 2em;
    max-height: 100vh;
  }
}
:is(.touch-device .page_footer) {
  min-height: unset;
  min-height: unset;
  max-height: unset;
}

.page_footer:has(.nav.on)::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.page_footer::after {
  content: "";
  background-image: url(../images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}

/*
@media screen and (orientation: landscape) {
  .page_footer {
    height: auto;
    max-height: inherit;
  }
}
*/
:is(.page_footer .access-map-holder) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 640px) {
  :is(.page_footer .access-map-holder) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
  }
}
:is(.page_footer .access-map-holder .access-map) {
  height: auto;
  padding: 16px 16px 0;
}

.access-route {
  width: clamp(300px, 43.75vmin, 420px);
  height: auto;
  margin: 0 auto;
  transform: scale(0.7);
}

:is(.page_footer .branch-info-holder) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 640px) {
  :is(.page_footer .branch-info-holder) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 60%;
    margin: auto;
    position: relative;
  }
}
:is(.page_footer .branch-info-holder .branch-info) {
  width: 100%;
  height: auto;
  aspect-ratio: 231/140;
}

.youtube-qr-holder {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  gap: 16px;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1em;
  margin-left: auto;
  transform: scale(0.8);
}

@media screen and (max-width: 640px) {
  .youtube-qr-holder {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: auto;
  }
}
.youtube-qr-title {
  aspect-ratio: 120/81;
  width: clamp(80px, 31.6301703163vw, 130px);
}

.copyright {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  font-weight: 300;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 640px) {
  .copyright {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
/*# sourceMappingURL=style.css.map */