/* ======================================================== */
/*
/* Header Block Definition
/*
/* ======================================================== */
.page_header {
  font-size: clamp(12px, 1.875vw, 18px);
  padding-top: clamp(1px, (100vw - 960px) * 8 / 960, 8px);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.touch-device .page_header {
  height: 100svh;
}

.page-title {
  color: rgb(42, 110, 25);
  font-size: clamp(8px, 1.6666666667vw, 11px);
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: clamp(4px, 1.6666666667vw, 16px);
}

.corp-logo {
  width: clamp(30px, 8.3333333333vw, 80px);
  height: auto;
  max-height: 2em;
  aspect-ratio: 400/143;
  margin-left: clamp(8px, 1.6666666667vw, 16px);
}

.page-title span {
  white-space: nowrap;
}

.ace-branch-logo {
  width: clamp(120px, 32.2916666667vw, 310px);
  margin-left: auto;
  margin-right: clamp(8px, 3.3333333333vw, 32px);
}

/* Header Hero Section */
.page_header-hero {
  background: url(../images/hero_bg.jpg) left top no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100% - 28px);
  position: relative;
}

@media screen and (max-width: 600px) {
  .page_header-hero {
    background-position: left -120px top 0px;
  }
}
/*
.hero img {
  aspect-ratio: 956 / 458;
  object-fit: contain;
  height: auto;
}
*/
.hazard-type-list {
  font-size: clamp(8px, 2.1666666667vw, 13px);
  display: flex;
  gap: 4px;
  /*position: absolute;*/
  padding: clamp(4px, 2.0833333333vw, 16px);
}

:where(.hazard-type-list > li) {
  color: rgb(42, 110, 25);
  line-height: 0.8;
  background-color: #fff;
  padding: 0.4em;
  border-radius: 3px;
}

:where(.hazard-type-list > li > em) {
  font-weight: 600;
  font-style: normal;
}

.catchcopy-holder {
  width: clamp(124px, 32.5vw, 312px);
  padding-top: clamp(8px, 1.6666666667vw, 16px);
  padding-right: clamp(16px, 3.3333333333vw, 32px);
  padding-bottom: clamp(8px, 1.6666666667vw, 16px);
  padding-left: clamp(8px, 1.6666666667vw, 16px);
  position: absolute;
  top: clamp(0px, 0.8333333333vw, 32px);
  right: 0;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  aspect-ratio: 192/59;
}

.catchcopy {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.site-concept {
  color: rgb(0, 110, 255);
  font-size: clamp(18px, 3.3333333333vw, 32px);
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.4);
  place-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

:where(.touch-device .site-concept) {
  margin-top: auto;
  margin-bottom: clamp(8px, 3.3333333333vw, 32px);
}

.site-message-holder {
  background-color: hsl(189deg, 100%, 78%);
  position: relative;
}

.site-message {
  color: #333;
  font-size: clamp(10px, 1.6666666667vw, 16px);
  font-weight: 300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: clamp(4px, 1.0416666667vw, 8px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

:where(.site-message span) {
  white-space: nowrap;
}

/*
.site-message::before {
  content: '';
  background-color: rgb(0, 110, 255);
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
*/
/* page scroll prompt */
:where(.scroll_prompt) {
  color: rgb(0, 65, 206);
  font-size: 0.8em;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  width: 64px;
  height: 24px;
  padding-right: 4px;
  padding-left: 4px;
  position: absolute;
  top: -64px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  cursor: pointer;
}

:where(.touch-device .scroll_prompt) {
  top: -80px;
}

.scroll_prompt::before {
  content: "";
  color: #fff;
  line-height: 0.8;
  display: block;
  width: 64px;
  height: 24px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 8px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  border-bottom: solid 2px rgba(255, 255, 255, 0.25);
}

.scroll_prompt::after {
  content: "";
  display: block;
  width: 64px;
  height: 24px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 8px;
  border-bottom: solid 2px rgb(31, 83, 255);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  -webkit-animation: scroll_prompt 1.6s ease-out 3.2s infinite;
  animation: scroll_prompt 1.6s ease-out 3.2s infinite;
}

@-webkit-keyframes scroll_prompt {
  0% {
    transform-origin: top right;
    transform: scaleX(0);
  }
  60% {
    transform-origin: top right;
    transform: scaleX(1);
  }
  61% {
    transform-origin: top left;
    transform: scaleX(1);
  }
  99% {
    transform-origin: top left;
    transform: scaleX(0);
  }
  100% {
    transform-origin: top right;
    transform: scaleX(0);
  }
}
@keyframes scroll_prompt {
  0% {
    transform-origin: top right;
    transform: scaleX(0);
  }
  60% {
    transform-origin: top right;
    transform: scaleX(1);
  }
  61% {
    transform-origin: top left;
    transform: scaleX(1);
  }
  99% {
    transform-origin: top left;
    transform: scaleX(0);
  }
  100% {
    transform-origin: top right;
    transform: scaleX(0);
  }
}
/* ======================================================== */
/*
/* Sticky Global Navigation Block Definition
/*
/* ======================================================== */
.sticky-nav {
  width: 100%;
  max-width: 960px;
  padding: 1em 2em;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 300;
}

.sticky-nav::before {
  content: "";
  background-color: #fff;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0.75;
}

.sticky-nav ul {
  display: flex;
  padding: 0 1em;
  gap: 1em;
}

.sticky-nav ul li {
  flex: 1;
}

@media screen and (min-width: 1280px) {
  .sticky-nav {
    display: none;
  }
}
@media screen and (min-width: 640px) {
  .sticky-nav ul li:last-of-type {
    display: none;
  }
}
@media not all and (min-width: 640px) {
  .sticky-nav ul li {
    flex: unset;
  }
  .sticky-nav ul li:last-of-type {
    display: block;
    margin-left: auto;
  }
  .sticky-nav ul li:not(:last-of-type) {
    display: none;
  }
}
.sticky-nav ul a {
  color: #666;
  font-size: clamp(13px, 1.6666666667vw, 16px);
  background-color: #fff;
  text-align: center;
  display: block;
  padding: 0.25em 1em;
  border: solid 1px #999;
  border-radius: 0.5em;
}

.sticky-wake-menu {
  padding: 0.75em 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: unset;
  border-radius: 0.5em;
  cursor: pointer;
}

/*
.sticky-wake-menu.hide {
  display: none;
}
*/
/* ======================================================== */
/*
/* Main Block Definition
/*
/* ======================================================== */
body {
  counter-reset: number 0;
}

:where(.main .top-section)::before {
  content: attr(title);
  color: #999;
  font-family: "Noto-Serif", serif;
  font-weight: 900;
  font-size: clamp(32px, 5vw, 48px);
  font-style: oblique;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: clamp(80px, 11.4583333333vw, 110px);
  line-height: 1.2;
  width: 0px;
  height: 48px;
  padding-left: clamp(100px, 14.5833333333vw, 102px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

:where(.main .top-section.active)::before {
  width: 100%;
}

:where(.main .top-section)::after {
  counter-increment: number 1;
  content: counter(number, decimal-leading-zero);
  color: #fff;
  font-size: 2em;
  font-family: "Noto-Sans", sans-serif;
  font-weight: 900;
  line-height: 1;
  display: block;
  padding: 0.35em 0.5em 0.2em 0.7em;
  background-color: rgb(55, 108, 255);
  position: absolute;
  top: 0;
  left: 0;
}

:where(.main section) {
  padding: 16px;
}

:where(.main .top-section) {
  padding-top: 5em;
  position: relative;
}

:where(.touch-device .main .top-section) {
  padding-right: unset;
  padding-left: unset;
}

/*
.top-section::after {
  content: '';
  display: block;
  width: 100%;
  height: auto;
  border-bottom: double 3px #999;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}
*/
:where(.main .top-section-title) {
  font-size: clamp(20px, 3.3333333333vw, 32px);
}

.hr-dots {
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hr-dots::before {
  content: "";
  aspect-ratio: 300/45;
  width: 100px;
  color: hsl(173deg, 33%, 51%);
  line-height: 0;
}

:where(.touch-device .hr-dots)::before {
  transform: scale(0.8);
}

/* ======================================================== */
/*
/* Footer Block Definition
/*
/* ======================================================== */
.page_footer {
  display: grid;
  grid-template-columns: 48px 2fr 1fr;
  grid-template-rows: auto auto 2em;
  min-height: 480px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .page_footer {
    grid-template-columns: 48px 1fr;
    grid-template-rows: auto auto auto 2em;
    max-height: 100vh;
  }
}
:where(.touch-device .page_footer) {
  min-height: unset;
  min-height: unset;
  max-height: unset;
}

.page_footer:has(.nav.on)::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.page_footer::after {
  content: "";
  background-image: url(../images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}

/*
@media screen and (orientation: landscape) {
  .page_footer {
    height: auto;
    max-height: inherit;
  }
}
*/
:where(.page_footer .access-map-holder) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media screen and (max-width: 640px) {
  :where(.page_footer .access-map-holder) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
  }
}
:where(.page_footer .access-map-holder .access-map) {
  height: auto;
  padding: 16px 16px 0;
}

.access-route {
  width: clamp(300px, 43.75vmin, 420px);
  height: auto;
  margin: 0 auto;
  transform: scale(0.7);
}

:where(.page_footer .branch-info-holder) {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 640px) {
  :where(.page_footer .branch-info-holder) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 60%;
    margin: auto;
    position: relative;
  }
}
:where(.page_footer .branch-info-holder .branch-info) {
  width: 100%;
  height: auto;
  aspect-ratio: 231/140;
}

.youtube-qr-holder {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  gap: 16px;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1em;
  margin-left: auto;
  transform: scale(0.8);
}

@media screen and (max-width: 640px) {
  .youtube-qr-holder {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: auto;
  }
}
.youtube-qr-title {
  aspect-ratio: 120/81;
  width: clamp(80px, 31.6301703163vw, 130px);
}

.copyright {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  font-weight: 300;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 640px) {
  .copyright {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
/** 
* Table Of Contents & Side Grobal Navigation
*/
@media not all and (min-width: 1280px) and (min-height: 600px) {
  :where(#toc),
:where(#side-nav) {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (min-height: 600px) {
  :where(#toc),
:where(#side-nav) {
    display: block;
    position: fixed;
    position: -webkit-fixed;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 1;
  }
  :where(#toc) {
    right: 0;
  }
  :where(#side-nav) {
    left: 0;
  }
  :where(#side-nav.hide) {
    display: none;
  }
  :where(#toc li),
:where(#side-nav li) {
    border-top: solid 1px #999;
    border-right: solid 1px #999;
    border-left: solid 1px #999;
  }
  :where(#toc li:last-of-type),
:where(#side-nav li:last-of-type) {
    border-bottom: solid 1px #999;
  }
  :where(#toc li a),
:where(#side-nav li a) {
    color: #999;
    background-color: #fff;
    font-size: 0.8em;
    display: block;
    padding: 0.25em 0.5em;
  }
  :where(#toc li a.active),
:where(#side-nav li.active a) {
    color: #fff;
    background-color: #999;
  }
}
/*# sourceMappingURL=style.css.map */