@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;}

body {
  font-size: 18px;
  font-size: clamp(12px, calc(100vw * 18 / 960), 18px);
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 2px;
  height: 100%;
}

/*
@media screen and (max-width: 960px) {
  body {
    font-size: clamp(12px, calc(100vw * 18 / 960), 18px);
  }
}

.touch-device body {
  font-size: 16px;
}
*/

h1, h2 {
  // font-family: 'BIZ UDGothic', sans-serif;
  // font-family: 'Kosugi Maru', sans-serif;
  // line-height: 0.8;
  text-align: center;
  // padding: 0.5em 0.5em;
  margin-bottom: 16px;
}

:is(h1, h2, h3, h4, h5) span {
  white-space: nowrap;
}

th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

picture {
  display: inline-block;
}
/*
section, p, ul, ol, dl {
  margin-bottom: 1em;
}
*/
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

img.full-width {
  width: 100%;
}

ul, ol, li {
  list-style: none;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
}

summary {
  display: block;
  width: fit-content;
}

summary::-webkit-details-marker {
  display: none;
}

[lang="en"] {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: unset;
}


.Container {
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
  // min-height: 100dvh;
  position: relative;
}

.main, .page_footer {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}



/* Navigation Block */
:is(.g-nav, .l-nav) {
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 100;
  transform: scale(0.8) translateX(-240px);
  transform-origin: top left;
  transition: all 0.2s 0.15s ease;
}

.g-nav {
  top: 110px;
}

:is(.touch-device .g-nav) {
  top: 20px;
}

.l-nav {
  top: 80px;
}

:is(.page_header .nav.on, .page_footer .nav.on) {
  transform: scale(0.8) translateX(0);
}

:is(.g-nav > ul, .l-nav > ul) {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: fit-content;
  padding-top: 16px;
}

/*
:is(.l-nav > ul > li > a) {
  line-height: 0.8;
  display: block;
  height: 44px;
  padding: 0.2em 0.4em;
}
*/



/* header block */@at-root
.page_header {
  padding-top: clamp(1px, calc((100vw - 960px) * 8 / 960), 8px);
  height: 100vh;
  height: 100svh;
  overflow: hidden;
  position: relative;
}

.page-title {
  color:rgb(42, 110, 25);
  font-size: clamp(8px, calc(100vw * 16 /960), 11px);
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: clamp(4px, calc(100vw * 16 / 960), 16px);
}

.corp-logo {
  width: clamp(30px, calc(100vw * 80 / 960), 80px);
  height: auto;
  max-height: 2em;
  aspect-ratio: 400 / 143;
  margin-left: clamp(8px, calc(100vw * 16 /960), 16px);  
}

.page-title span {
  white-space: nowrap;
}

.ace-branch-logo {
  width: clamp(120px, calc(100vw * 310 / 960), 310px);
  margin-left: auto;
  margin-right: clamp(8px, calc(100vw * 32 /960), 32px);  
}

/* Header Hero Section */
.page_header-hero {
  background: url(../images/hero_bg.jpg) left top no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100% - 28px);
  // max-height: 100vh;
  // max-height: 100dvh;
  // min-height: 400px;
  // padding: clamp(4px, calc(100vw * 16 / 768), 16px);
  // aspect-ratio: 956 / 458;
  position: relative;
}

@media screen and (max-width: 600px) {
  .page_header-hero {
    background-position: left -120px top 0px;
  }
}

/*
.hero img {
  aspect-ratio: 956 / 458;
  object-fit: contain;
  height: auto;
}
*/

.hazard-type-list {
  font-size: clamp(8px, calc(100vw * 13 / 600), 13px);
  display: flex;
  gap: 4px;
  /*position: absolute;*/
  padding: clamp(4px, calc(100vw * 16 / 768), 16px);

}

:is(.hazard-type-list > li) {
  color: rgb(42, 110, 25);
  line-height: 0.8;
  background-color: #fff;
  padding: 0.4em;
  border-radius: 3px;
}

:is(.hazard-type-list > li > em) {
  font-weight: 600;
  font-style: normal;
}

.catchcopy-holder {
  // background-color: rgba(255, 255, 255, .75);
  width: clamp(124px, calc(100vw * 312 / 960), 312px);
  padding-top: clamp(8px, calc(100vw * 16 / 960), 16px);
  padding-right: clamp(16px, calc(100vw * 32 / 960), 32px);
  padding-bottom: clamp(8px, calc(100vw * 16 / 960), 16px);
  padding-left: clamp(8px, calc(100vw * 16 / 960), 16px);
  position: absolute;
  top: clamp(0px, calc(100vw * 8 / 960), 32px);
  right: 0;
  backdrop-filter: blur(3px);
  aspect-ratio: 192 / 59;
}

.catchcopy {
  width: 100%;
  object-fit: contain;
}

.site-concept {
  color: rgb(0, 110, 255);
  font-size: clamp(18px, calc(100vw * 32 / 960), 32px);
  font-family: 'Noto Serif JP', serif;
  font-weight: 500;
  background-color: #ffffff66;
  place-self: center;
  width: fit-content;
  backdrop-filter: blur(3px);
}

:is(.touch-device .site-concept) {
  margin-top: auto;
  margin-bottom: clamp(8px, calc(100vw * 32 / 960), 32px);;
}

.site-message-holder {
    background-color: hsl(189deg 100% 78%);
    position: relative;
}

.site-message {
  color: #333;
  font-size: clamp(10px, calc(100vw * 16 / 960), 16px);
  font-weight: 300;
  width: fit-content;
  padding: clamp(4px, calc(100vw * 8 / 768), 8px);
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

:is(.site-message span) {
  white-space: nowrap;
}
/*
.site-message::before {
  content: '';
  background-color: rgb(0, 110, 255);
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}
*/

/* page scroll prompt */
.scroll_prompt {
  color: #fff;
  font-size: 0.8em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  line-height: 0.8;
  text-align: center;
  width: 64px;
  height: 24px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 8px;
  position: absolute;
  top: -64px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  backdrop-filter: blur(8px);
  cursor: pointer;
}

.scroll_prompt::before {
  content: '';
  color: #fff;
  line-height: 0.8;
  display: block;
  width: 64px;
  height: 24px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 8px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  border-bottom: solid 2px rgba(255, 255, 255, 0.25);
}

.scroll_prompt::after {
  content: '';
  display: block;
  width: 64px;
  height: 24px;
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 8px;
  border-bottom: solid 2px rgba(255, 255, 255);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  animation: scroll_prompt ease-in-out 1.6s infinite;
}

@keyframes scroll_prompt {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }

}



/*****************************************************************
/*
/* Main Block
/*
******************************************************************/
:is(.main section) {
  padding: 16px
}

:is(.main dd) {
  padding-left: 1em;
  margin-bottom: 0.5em;
}

:is(.main li::before) {
  content: '・';
  padding-right: 0.25em;
}

:is(.main .top-section) {
  padding: 0;
  margin-bottom: 32px; 
  position: relative;
}

:is(.main .top-section section) {
  padding: 16px;
}
/*
.top-section::after {
  content: '';
  display: block;
  width: 100%;
  height: auto;
  border-bottom: double 3px #999;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}
*/
:is(.main .top-section-title) {
  font-size: clamp(20px, calc(100vw * 32 / 960), 32px);
  // background-color:rgb(0, 110, 255, 0.25);
  // border-bottom: solid 2px rgb(0, 110, 255, 0.25);
}

:is(.main .top-section) {
  padding-top: 5em;
}

.hr-dots {

  border: 0;
  height: 2em;
  padding: 0;
  margin: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: url(../images/hr.svg);
    aspect-ratio: 300 / 45;
    width: 100px;
    color: hsl(173deg, 33%, 51%);
    // font-size: 6em;
    // font-family: 'Noto-Sans', sans-serif;
    // letter-spacing: .005em;
    // text-align: center;
    line-height: 0;
  }

}

:is(.touch-device .hr-dots)::before {
  transform: scale(0.8);
}


/*****************************************************************
/*
/* Footer Block
/*
******************************************************************/
.page_footer {
  display: grid;
  grid-template-rows: 2fr 1fr 2em;
  grid-template-columns: 1fr 1fr;
  max-height: 540px;
  min-height: 480px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .page_footer {
    grid-template-rows: 1fr 1fr 1fr 2em;
    grid-template-columns: 1fr;
  }
}


// @media screen and (max-width: 630px) {
//   .page_footer {
//     grid-template-rows: 0 2fr 2fr 0.5fr auto;
//   }
// }

:is(.touch-device .page_footer) {
  height: 100vh;
  height: 100svh;
  // max-height: 600px;
}

.page_footer:has(.nav.on)::before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  // backdrop-filter: blur(2px);
}

.page_footer::after {
  content: '';
  background-image: url(../images/footer_bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}
/*
@media screen and (orientation: landscape) {
  .page_footer {
    height: auto;
    max-height: inherit;
  }
}
*/

.branch-info-holder {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media screen and (max-width: 630px) {
  .branch-info-holder {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
     position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 32px;
    // top: 0;
    left: 0;
  }
}

.branch-info {
  aspect-ratio: 231 / 140;
  height: auto;
  transform: scale(1.3);
  transform-origin: top left;
}

// @media screen and (max-width: 630px) {
//   .branch-info {
//     transform: scale(1);
//   }
// }

.access-map-holder {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
}

@media screen and (max-width: 640px) {
  .access-map-holder {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.access-map {
  // width: clamp(300px, calc(100vmin * 420 / 960), 420px);
  padding: 16px 16px 0;
  height: auto;
  // transform: scale(1.2);
  transform-origin: top right;
}

.access-route {
  width: clamp(300px, calc(100vmin * 420 / 960), 420px);
  height: auto;
  transform: scale(0.7);
}

.youtube-qr-holder {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  gap: 16px;
  align-items: center;
  width: fit-content;
  margin-right: 64px;
  margin-left: auto;
  transform: scale(0.8);
}

@media screen and (max-width: 640px) {
  .youtube-qr-holder {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.youtube-qr-title {
  aspect-ratio: 120 / 81;
  width: clamp(80px, calc(100vw * 130 / 411), 130px)
}

.copyright {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  font-weight: 300;
  text-align: center;
  background-color: rgba(255, 255, 255, .75);
}

@media screen and (max-width: 640px) {
  .copyright {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}


/* TOP-PAGE Main Block -------------------------------------------------- */
.Index {
  counter-reset: number 0;
}

:is(.Index .main .top-section)::before {
  content: attr(title);
  color: #999;
  font-family: 'Noto-Serif', serif;
  font-weight: 900;
  font-size: clamp(32px, calc(100vw * 48 / 960), 48px);
  font-style: oblique;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: clamp(80px, calc(100vw * 110 / 960), 110px);
  line-height: 1.2;
  height: 48px;
  padding-left: clamp(100px, calc(100vw * 140 / 960), 140px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

:is(.Index .main .top-section)::after {
  counter-increment: number 1;
  content: counter(number, decimal-leading-zero);
  color: #fff;
  font-size: 2em;
  font-family: "Noto-Sans", sans-serif;
  font-weight: 900;
  line-height: 0.8;
  display: block;
  padding: 0.35em 1.1em 0.2em 0.7em;
  background-color: rgb(55, 108, 255);
  position: absolute;
  top: 0;
  left: 0;
}

:is(.Index .intro)::before {
  background-image: url(../images/contents01.svg);
}

:is(.Index .curriculumn)::before {
  background-image: url(../images/contents02.svg);
}

:is(.Index .activities)::before {
  background-image: url(../images/contents03.svg);
}

:is(.Index .users-voice)::before {
  background-image: url(../images/contents04.svg);
}

:is(.Index .facilities)::before {
  background-image: url(../images/contents05.svg);
}



:is(.Index .staff-message-holder) {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto; 
  aspect-ratio: 597 / 448;
  position: relative;
  overflow: hidden;
  border: solid 1px hsl(173, 23%, 55%);
}

:is(.Index .staff-message-holder)::before {
  content: '';
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}


:is(.Index .staff-photo-holder) {
  width: 100%;
  max-width: 100vw;
}

:is(.Index .staff-photo) {
  width: 100%;
}

:is(.Index .top-section > .staff-message) {
  padding: 1em;
}

:is(.Index .staff-message-wrapper) {
  color: #333;
  font-weight: bold;
  padding: 5em 4em 3em;
  position: absolute;
  top: 64px;
  left: 64px;
  border: solid 1px #666;
  border-radius: 50%;
}

:is(.staff-message-wrapper)::before {
  content: '';
  background-color: rgba(255, 255, 255, .75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  backdrop-filter: blur(6px);
  z-index: -1;
}

/*
.staff-message-bg {
  width: 100%;
  height: 100%;
  margin: 5% 0 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
  z-index: -1;
}
*/

.staff-message {
  // font-size: clamp(10px, calc(100vw * 0.8 * 16 / 960), 0.8em);
  font-size: clamp(10px, calc(100vw * 16 / 960), 1em);
  letter-spacing: 4px;
  line-height: 2;
  
  height: auto;
  padding: 0;
  margin: 0;
  writing-mode: vertical-rl;
}

:is(.staff-message .text-combine) {
  text-orientation: upright;
}


:is(.staff-message span) {
  white-space: nowrap;
}


@media screen and (max-width: 960px) {
  :is(.Index .staff-message-wrapper) {
    padding: clamp(8px, calc(100vw * 16 * 0.8 / 960), 1em);
    top: unset;
    bottom: clamp(8px, calc(100vw * 16 / 960), 16px);
    left: clamp(8px, calc(100vw * 16 / 960), 16px);
    border-radius: clamp(8px, calc(100vw * 16 / 960), 16px);
  }
  
  :is(.staff-message-wrapper)::before {
    border-radius: clamp(8px, calc(100vw * 16 / 960), 16px);
  }

  .staff-message {
    letter-spacing: unset;
    writing-mode: unset;
  }
  
  :is(.staff-message .text-combine) {
    text-orientation: unset;
  }
}

/*
@media screen and (max-width: 600px) {
  .staff-message-wrapper {
    line-height: 1;
    width: 320px;
    transform: scale(0.75);
    transform-origin: top left;
  }

  .staff-message {
    // font-size: 6px;
    line-height: 1;
  }
}
*/


/* 事業所紹介セクション*/
:is(.Index .top-section-title span) {
  color: #fff;
  display: block;
  // background-color:#81D8D0;
  background-color:hsl(173, 33%, 51%);
  width: fit-content;
  padding: 0 1em;
  margin: 0 auto;
  border-radius: 1em;
}

/*
:is(.Index .top-section-title span) {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

:is(.Index .top-section-title span)::before,
:is(.Index .top-section-title span)::after {
	content: '';
	width: clamp(40px, calc(100vw * 70 /960), 70px);
	height: 2px;
	background-color: #e3bf00;
}

:is(.Index .top-section-title span)::before {
	margin-right: 20px;
}

:is(.Index .top-section-title span)::after {
	margin-left: 20px;
}
*/

:is(.Index .intro-title span:first-of-type) {
  color: hsl(173deg, 33%, 51%);
  font-size: 0.6em;
  line-height: 1.2;
  background-color: transparent;
}

/*
:is(.Index .intro-title span:first-of-type)::before,
:is(.Index .intro-title span:first-of-type)::after {
  content: none;
}
*/

.intro-staff-message-holder::before {
  background-image: url(../images/staff-photo01.png);
}

:is(.Index .whats-ace-title) {
  font-size: clamp(14px, calc(100vw * 32 / 960), 32px);
  width: fit-content;
  margin: 0 auto;
}

:is(.Index .whats-ace-title-image) {
  width: clamp(36px, calc(100vw * 64 / 960), 64px);
  padding: 8px;
  // margin-bottom: -16px
}

:is(.Index .whats-ace-staff-message) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  // gap: clamp(0.5em, calc(100vw * 0.8 * 16 / 960),1em);
  gap: 2em;
}

:is(.Index .whats-ace-staff-message span:last-of-type) {
  grid-row: 2 / 3;
  grid-column: 1 / 3;}

:is(.Index .ace-concept-image-holder) {
  display: block;
  width: fit-content;
  margin: 16px auto 32px;
}


/* カリキュラム */
.curriculumn-staff-message-holder::before {
  background-image: url(../images/staff-photo03.png);
}

@media screen and (max-width: 640px) {
  :is(.Index .curriculumn .staff-message-wrapper) {
    top: clamp(8px, calc(100vw * 16 / 960), 16px);
    bottom: unset;
  }
}

.curriculumn-time-table {
  color: #fff;
  font-size: 1.2em;
  background-color:hsl(190deg 44% 55%);
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border-radius: 16px;
}

.curriculumn-time-table dd {
  margin-bottom: 0;
}

.curriculumn-weekly-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

:is(.curriculumn-weekly-table tbody) {
  display: contents;
}

:is(.curriculumn-weekly-table tr) {
  background-color: hsl(190deg 44% 73%);
  // width: fit-content;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px 2px rgba(126, 126, 126, .2);
}

:is(.curriculumn-weekly-table th, .curriculumn-weekly-table td) {
  display: block;
}

:is(.curriculumn-weekly-table th) {
  color: hsl(106, 69%, 20%);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  // border-bottom: solid 2px #fff;
}

:is(.curriculumn-weekly-table ul) {
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 6px;
}

:is(.curriculumn-weekly-table li) {
  color: #333;
  text-indent: -.75em;
  padding-left: 1em;
}

:is(.curriculumn-weekly-table li)::before {
  content: '・';
  // padding-right: 0.2em;
}

:is(.curriculumn-weekly-table + p) {
  width: fit-content;
  margin: 0.5em auto 0;
}


/* ACEの一日のスケジュール */
.activities-staff-message-holder::before {
  background-image: url(../images/staff-photo02.png);
}

@media screen and (max-width: 640px) {
  :is(.Index .activities .staff-message-wrapper) {
    top: clamp(8px, calc(100vw * 16 / 960), 16px);
    bottom: unset;
  }
}

.activities-time-table-graph-holder {
  display: grid;
  justify-items: center;
  width: 100%;
  margin-bottom: 32px;
}

:is(.activities-time-table-graph-holder img) {
  width: 100%;
}

.activities-suchedule-timetable {
  color: hsl(219, 100%, 0%);
  background-color: hsl(60, 29%, 90%);
  display: block;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
.activities-suchedule-timetable tr {
  // display: contents;
  display:block;
  margin-bottom: 1em;
}

:is(.activities-suchedule-timetable th) {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  background-color: #fff;
  display: block;
  width: 16em;
  padding: 0.25em 0.25em;
  margin-bottom: 0.5em;
  border-radius: 1em;
}

:is(.activities-suchedule-timetable td) {
  gap: clamp(8px,  calc(100vw * 16 / 960), 16px);
  margin-bottom: 1em;
  position: relative;
}

:is(.activities-suchedule-timetable tr:not(:last-of-type) td) {
  display: flex;
}

:is(.activities-suchedule-timetable dt) {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  background-color: #fff;
  width: fit-content;
  padding: 0 1em;
  margin-bottom: 0.25em;
  border-radius: 16px;
}

:is(.activities-suchedule-timetable dd) {
  margin-bottom: 1em;
}

:is(.activities-suchedule-timetable .timetable img) {
  // flex: 1;
  max-width: clamp(120px, calc(100vw * 240 / 960 ), 240px);
  position: relative;
}

:is(.activities-suchedule-timetable .timetable11to12 span:nth-of-type(2) img) {
  max-width: clamp(120px, calc(100vw * 480 / 960 ), 480px);
}

:is(.activities-suchedule-timetable .zoom span) {
  position: relative;
}

:is(.activities-suchedule-timetable .zoom span:nth-of-type(2))::after {
  content: '';
  background: url(../images/zoom.png) no-repeat center center;
  background-size: cover;
  display: block;
  width: clamp(24px, calc(100vw * 48 / 960), 48px);
  height: clamp(24px, calc(100vw * 48 / 960), 48px);
  aspect-ratio: 140 / 139;
  position: absolute;
  top: 16px;
  left: 8px;
  z-index: 300;
}

/* 利用者の声 */
.users-voice-exsamples {
  color: #fff;
  background-color:hsl(173, 23%, 55%);
  width: fit-content;
  padding: 0.5em 1em;
  border-radius: 16px;
}

.users-voice-exsamples:nth-of-type(2n) {
  margin-left: auto;
}

.users-voice-exsamples:not(:last-of-type) {
  margin-bottom: 1em;
}

:is(.users-voice-exsamples summary) {
  font-size: 1.1em;
  font-weight: bold;
  width: fit-content;
  padding: 0 0.25em;
  margin-bottom: 0.5em;
  border-bottom: solid 1px #fff;
}



/* 施設紹介 */
.facilities-photo-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 16px;
  padding: 1em;
  margin-bottom: 16px;
}

:is(.facilities-photo-wrapper > figure) {
  position: relative;
  border-radius: 1em;
  overflow: hidden;
}

:is(.facilities-photo-wrapper > figure > figcaption) {
  color: #fff;
  font-size: 0.6em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.25em 0.5em;
  position: absolute;
  top: 16px;
  left: 16px;
  backdrop-filter: blur(6px);
}

:is(.facilities-photo-wrapper > figure:first-of-type) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

:is(.facilities .message-for-you-wrapper) {
  padding: 1em;
}

:is(.facilities .message-for-you) {
  background-color:hsl(40, 100%, 86%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 32px;
  padding: 16px;
  border-radius: 1em;
}

@media screen and (max-width: 640px) {
  :is(.facilities .message-for-you) {
    grid: none;
  }
}



/* よくあるご質問 */
:is(.Index .faq details) {
  background-color: hsl(173, 23%, 40%);
  padding: clamp(8px, calc(100vw * 16 / 960), 1em);
  margin-bottom: 1em;
  border-radius: 1em;
}

:is(.Index .faq details summary) {
  font-size: 1.2em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: clamp(8px, calc(100vw * 16 / 960), 16px);
  align-items: center;
  height: 5em;
  margin-bottom: .5em;
}

:is(.Index .faq details summary img) {
  width: clamp(48px, calc(100vw * 64 / 960), 64px);
  aspect-ratio: 256 /431;
}

:is(.Index .faq details summary span) {
  background-color: #fff;
  display: grid;
  align-items: center;
  height: 3em;
  padding: 0 .5em;
  border-radius: 0.5em;
}

:is(.Index .faq details .details-description-holder) {
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  gap: clamp(8px, calc(100vw * 16 / 960), 16px);
  align-items: center;
  min-height: 6.5em;
}

:is(.Index .faq details .details-description-holder img) {
  width: clamp(48px, calc(100vw * 64 / 960), 64px);
  aspect-ratio: 242 / 454;
}


/* 見学・体験 */
:is(.kengaku > section) {
  margin: 0;
}

:is(.touch-device .kengaku >section) {
  font-size: 1.5em;
}

:is(.kengaku > section h3) {
  line-height: 1;
  padding-left: 0.25em;
  margin-bottom: 0.5em;
  border-left: solid .5em hsl(173deg, 33%, 51%);
}

:is(.kengaku > section h3 ~ *) {
  padding-left: 1em;
  margin: 0;
}

:is(.kengaku summary) {
  font-size: 1.1em;
  font-weight: bold;
  width: fit-content;
  padding: 0 0.25em;
  margin-bottom: 0.5em;
  border-bottom: solid 1px #fff;
}


:is(.kengaku .contact .contact-details-holder) {
  color: #fff;
  background-color: #649cc9;
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
  grid-template-columns: auto auto;
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  gap: 2em;
  padding: 0.5em 1em;
  border-radius: 1em;
  position: relative;
}

@media screen and (max-width: 640px) {
  :is(.kengaku .contact .contact-details-holder) {
    grid: none;
    gap: 0;
  }  
}

:is(.kengaku .contact .contact-details-holder > details) {
  width: fit-content;
  min-width: 180px;
}

:is(.kengaku .contact .ace-line-qr) {
  // width: clamp(32px, calc(100vw * 64 / 960), 64px);
  // height: clamp(32px, calc(100vw * 64 / 960), 64px);
  position: absolute;
  top: clamp(8px, calc(100vw * 16 / 960), 16px);
  right: clamp(8px, calc(100vw * 16 / 960), 16px);
}

:is(.kengaku .contact .ace-line-qr figcaption) {
  color: #fff;
  font-size: 0.6em;
  text-align: center;
}

:is(.kengaku .announce p) {
  color: #fff;
  background-color: #649cc9;
  padding: 0.5em 1em;
  margin: 0 auto;
  border-radius: 1em;
}

:is(.kengaku .announce p span) {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

:is(.kengaku .experience-schedule) {
  color: #fff;
  background-color: #649cc9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  padding: 0.5em 1em;
  border-radius: 1em;
}

:is(.kengaku .experience-schedule + p) {
  width: fit-content;
  margin: 16px auto 0;
}

:is(.kengaku .experience-schedule-exception) {
  color: #f00;
  background-color: #fff;
  padding-left: 1em;
  margin-top: clamp(8px, calc(100vw * 16 / 960), 16px);
  border-radius: clamp(8px, calc(100vw * 16 / 960), 16px);
}


:is(.kengaku .reception-time) {
  color: #fff;
  background-color: #649cc9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  // display: flex;
  // justify-content: center;
  // flex-wrap: wrap;
  gap: 1em 2em;
  padding: 0.5em 1em;
  border-radius: 1em;
}

:is(.kengaku .reception-time > details) {
  min-width: 180px;
}

:is(.kengaku .reception-time > details summary) {
  background-color: #fff;
  width: 100%;
  padding: 0 0.5em;
  border-radius: 0.8em;
}

:is(.kengaku .reception-time > details:first-of-type summary) {
  color: hsl(106, 69%, 20%);
}

:is(.kengaku .reception-time > details:nth-of-type(2) summary) {
  color: hsl(236, 100%, 50%);
}

:is(.kengaku .reception-time > details:nth-of-type(3) summary) {
  color: hsl(0, 100%, 41%);
}

:is(.kengaku .reception-time > details img) {
  display: block;
  width: 50%;
  margin: 0 auto;
}

:is(.kengaku .sub-section.hr-dots) {
  margin: 0;
  transform: scale(0.3);
}


/* SNS */
:is(.sns-holder) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

:is(.sns-holder > details) {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  justify-items: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto 32px;
}

:is(.sns-holder > details summary) {
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin: 0 auto 0.5em;
  border-bottom: solid 2px hsl(173, 23%, 55%);
}

:is(.sns-holder > details .details-description) {
  text-align: center;
}

:is(.sns-holder > details .details-description dd) {
  padding: 0;
  margin: 0;
}

:is(.sns-holder .qr-code) {
  width: clamp(80px, calc(100vw * 120 / 960), 120px);
  aspect-ratio: 1 /1;
}


/* 事業所案内 */
.ace-general-info-table {
  width: fit-content;
  margin: 0 auto;
}

:is(.ace-general-info-table th, .ace-general-info-table td) {
  padding: 0.5em;
  border-bottom: solid 1px hsl(173, 23%, 40%);
}





/***************************************************
/*
/* Miscellaneous
/* 
/**************************************************/
/* Navigation Button */
.button{
  display: block ;
  position : relative ;
  width : 240px ;
  height : 60px ;
  background: rgb(153,191,187);
  background: radial-gradient( rgba(93,108,107,.3) 0%, rgba(95,162,158,0) 90%);
  box-shadow : 0 0 24px rgba(116,132,145,1) ;
  transition : all .7s ease ;
  cursor: pointer;
}

.button::before{
  content : '' ;
  position : absolute ;
  z-index : 2 ;
  top : -4px ;
  left : 0 ;
  width : 160px ;
  height : 10px ;
  border-radius : 50% ;
  background: rgb(170,255,240);
  background: radial-gradient( rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 100%);
}

.button::after{
  content : '' ;
  position : absolute ;
  z-index : 2 ;
  bottom : -4px ;
  right : 0 ;
  width : 160px ;
  height : 10px ;
  border-radius : 50% ;
  background: rgb(170,255,240);
  background: radial-gradient( rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33%, rgba(255,255,255,0) 100%);
}

.button__wrapper{
  width : 100% ;
  height :100% ;
  clip-path: polygon(0% 0%, 0 100%, 0.7% 100%, 0.7% 3%, 99.3% 3%, 99.3% 98%, 0% 98%, 0% 100%, 100% 100%, 100% 0%);
  background-color:hsla(0,0%,100%,1);
  background-image:
  radial-gradient(at 0% 0%, hsla(180,100%,98%,1) 0px, transparent 50%),
  radial-gradient(at 29% 0%, hsla(189,100%,78%,1) 0px, transparent 50%),
  radial-gradient(at 0% 48%, hsla(355,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 100% 62%, hsla(340,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 90% 98%, hsla(169,88%,83%,1) 0px, transparent 50%),
  radial-gradient(at 26% 100%, hsla(240,0%,44%,1) 0px, transparent 50%),
  radial-gradient(at 79% 0%, hsla(336,0%,51%,1) 0px, transparent 50%);
}

.button__box{
  display : flex ;
  justify-content : center ;
  align-items : center ;
  position : absolute ;
  z-index : 1 ;
  top : 3% ;
  left : 0.8% ;
  width : 98.4% ;
  height : 94% ;
  color : rgba(255, 255, 255);
  font-weight: 500;
  letter-spacing : 2px ;
  background: rgb(255,255,255);
  background: linear-gradient(120deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 50%);
  transition : all 1s ease ;
  backdrop-filter: blur(5px);
}

:is(.touch-device .button__box) {
  font-size: 1.1em;
  font-weight: 700;
}

.button__box::before{
  content : '' ;
  position : absolute ;
  z-index : -1 ;
  top : 0 ;
  left : 0 ;
  width : 100% ;
  height : 100% ;
  background : linear-gradient( 120deg , rgba(255,255,255,.4),rgba(255,255,255,0)) ;
  clip-path : path('M215.98,12.57c8.09,0,16.1,.12,24.02,.33V0H0V44.89C53.01,25.06,130.12,12.57,215.98,12.57Z');
}
.button--round{
  border-radius : 30px ;
}
.button--round .button__wrapper{
  clip-path: path('M210,1c15.99,0,29,13.01,29,29s-13.01,29-29,29H30C14.01,59,1,45.99,1,30S14.01,1,30,1H210m0-1H30C13.43,0,0,13.43,0,30s13.43,30,30,30H210c16.57,0,30-13.43,30-30S226.57,0,210,0h0Z');
}
.button--round .button__box{
  border-radius : 30px ;
  overflow : hidden ;
}
.button:hover{
  box-shadow : 0 0 24px rgba(116,132,145,0) ;
}
.button:hover .button__box{
  letter-spacing : 8px ;
  color : rgba(255,255,255,1) ;
}

.wake-menu {
  font-size: 1.2em;
  position:absolute;
  appearance: none;
  outline: unset;
  border: solid 1px #fff;
  transform: rotate(-90deg) translateX(-50%) scale(0.8);
  transform-origin: top left;
  top: 50%;
  left: 0;
  z-index: 100;
}

.wake-menu.on {
  top: 374px;
  transform: rotate(0) scale(0.8);
}

:is(.page_header .wake-menu.on) {
  top: 374px;
}

:is(.touch-device .page_header .wake-menu.on) {
  top: 264px;
}

:is(.page_footer .wake-menu.on) {
  top: 346px;
}

:is(.wake-menu.on .button__box)::after {
  content: 'Close';
  color: #666;
  background-color: #fff;
  font-size: 1em;
  font-weight: bold;
  display: block;
  padding: 0.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.25em;

}



/***************************************************
/* Loading
 **************************************************/
 /* Loading */
#loading {
  background-color: #f9c2eb;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  transition: all 1s;
  opacity: 1;
}

:is(#loading){
  background: linear-gradient(-45deg, #f9c2eb, #a8c2ee, #c2f9d0, #ffdea5) fixed;
  background-size: 800% 800%;
  animation: GradietionAnimation 9s ease infinite;
}

@keyframes GradietionAnimation { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#loading.fadeout {
  opacity: 0;
}

#loading.remove {
  opacity: 0;
}

/***************************************************
/* Loading Text Message
/****************************************************/
.l-wrapper {
  text-align: center;
  padding: clamp(8px, calc(100vw * 50 / 960), 50px);
  transition: all 0.5s;
}

.c-text {
  // color:rgb(42, 110, 25);
  color: hsl(106, 69%, 20%);
  font-size: clamp(16px, calc(100vw * 64 / 960), 64px);
  line-height: 1.4;
  span {
    letter-spacing: 0.2em;
    display: inline-block;
    opacity: 0;
    @for $i from 1 through 30 {
      &:nth-child(#{$i}) {
        animation: text 1s cubic-bezier(0.3, 0.72, 0.56, 0.99) #{$i * 0.1}s forwards;
      }
    }
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(-20px) translateY(-10px) scale(1.3);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

#loading_message01 {
  opacity: 1;
  transition: all 1s;
}

#loading_message01.fadeout {
  opacity: 0;
}



/***************************************************
/* SVG Animation
 **************************************************/
/* Heartfull */
#anim_heartfull {
  display: block;
  width: fit-content;
  margin: auto;
}

#anim_heartfull .svg-elem-1 {
  stroke-dashoffset: 1285.1929931640625px;
  stroke-dasharray: 1285.1929931640625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

#anim_heartfull.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-2 {
  stroke-dashoffset: 328.0028076171875px;
  stroke-dasharray: 328.0028076171875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

#anim_heartfull.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-3 {
  stroke-dashoffset: 406.1172180175781px;
  stroke-dasharray: 406.1172180175781px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

#anim_heartfull.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-4 {
  stroke-dashoffset: 332.68572998046875px;
  stroke-dasharray: 332.68572998046875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

#anim_heartfull.active .svg-elem-4 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-5 {
  stroke-dashoffset: 361.7761535644531px;
  stroke-dasharray: 361.7761535644531px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

#anim_heartfull.active .svg-elem-5 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-6 {
  stroke-dashoffset: 1180.7425537109375px;
  stroke-dasharray: 1180.7425537109375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

#anim_heartfull.active .svg-elem-6 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-7 {
  stroke-dashoffset: 449.8775634765625px;
  stroke-dasharray: 449.8775634765625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

#anim_heartfull.active .svg-elem-7 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_heartfull .svg-elem-8 {
  stroke-dashoffset: 1079.7603759765625px;
  stroke-dasharray: 1079.7603759765625px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

#anim_heartfull.active .svg-elem-8 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

/* ACE */
 #anim_ace {
  display: block;
  width: fit-content;
  margin: auto;
}
#anim_ace .svg-elem-1 {
  stroke-dashoffset: 1170.498046875px;
  stroke-dasharray: 1170.498046875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

#anim_ace.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_ace .svg-elem-2 {
  stroke-dashoffset: 294.8476257324219px;
  stroke-dasharray: 294.8476257324219px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

#anim_ace.active .svg-elem-2 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}

#anim_ace .svg-elem-3 {
  stroke-dashoffset: 344.737060546875px;
  stroke-dasharray: 344.737060546875px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
                fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

#anim_ace.active .svg-elem-3 {
  stroke-dashoffset: 0;
  fill: rgb(255, 255, 255);
}
/*
#anim_ace {
  display: block;
  width: fit-content;
  margin: auto;
}

#anim_ace .svg-elem-1 {
  stroke-dashoffset: 1170.2764892578125px;
  stroke-dasharray: 1170.2764892578125px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

#anim_ace.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

#anim_ace .svg-elem-2 {
  stroke-dashoffset: 294.5940856933594px;
  stroke-dasharray: 294.5940856933594px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

#anim_ace.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

#anim_ace .svg-elem-3 {
  stroke-dashoffset: 344.6270751953125px;
  stroke-dasharray: 344.6270751953125px;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}

#anim_ace.active .svg-elem-3 {
  stroke-dashoffset: 0;
}
*/